<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCrUd</title>
</head>
<body>
    <head>MCrUd</head>
    <fieldset>
        <h1>Hero? or Villain?</h1>
        <nav>
            <ul>
                <li type="none">
                    <a href="/heros"><img src=""></a>
                </li>
                <li type="none">
                    <a href="/villains"><img src=""></a>
                </li>
            </ul>
        </nav>
    </fieldset>
</body>
</html>